/**
 * App-wide Styles
 */

 .main-shell {
   .profile-container {
     height: 100%;
     font-size: 14px;

     .profile-name {
       font-weight: 500;
     }
   }
 }

// Component styles are injected through grunt
// injector
@import 'dashboard/dashboard.scss';
@import 'dashboard/questions/questions.scss';
@import 'dashboard/stats/stats.scss';
@import 'start/login/login.scss';
@import 'start/singup/singup.scss';
@import 'start/start.scss';
// endinjector
