<md-card layout="column">
  <form ng-submit="answerCurrentQuestion()">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Práctica de {{theme=='Math'?'Matemática':'Español'}}</h1>
    </md-toolbar>
    <md-card-content layout="column" layout-align="space-between">
      <div layout="row"  layout-fill>
        <div layout"row">
            <label ng-bind="currentQuestion.question"></label>
        </div>
      </div>
      <br/>
        <md-divider></md-divider>
      <br/>
      <div layout="row"  layout-fill>
        <div layout"row">
            <md-radio-group ng-repeat="option in currentQuestion.options" require>
              <md-radio-button ng-model="currentAnswer" ng-value="{{option}}" class="md-primary">{{option}}</md-radio-button>
            </md-radio-group>
        </div>
      </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" type='submit'>Aceptar</md-button>
        <md-button class="md-raised md-primary">Cancelar</md-button>
      </md-card-actions>
    </form>
  </md-card>
